<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RealEstateWebRole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--<appSettings>
    -->
  <!--<add key="twitterConsumerKey" value="" />
    <add key="twitterConsumerSecret" value="" />-->
  <!--
   -->
  <!--<add key="ACS" value ="https://epropertysearch.accesscontrol.windows.net:443/v2/metadata/IdentityProviders.js?protocol=wsfederation&realm=http%3a%2f%2f127.0.0.1%3a81%2f&reply_to=http%3a%2f%2f127.0.0.1%3a81%2fDefault.aspx&context=&request_id=&version=1.0&callback="/>-->
  <!--
  </appSettings>-->
  <system.web>
    <trust level="Full" />
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="~/Public/Login.aspx" timeout="2880" />
    </authentication>
    <!--<authorization>
      <deny users="?" />
    </authorization>-->
    <httpRuntime requestValidationMode="2.0" />
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <!--<httpHandlers>
      <add verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI"/>
    </httpHandlers>-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--Commented out by FedUtil-->
    <!--Commented out by FedUtil-->
    <!--<authentication mode="Forms"><forms loginUrl="~/Public/Login.aspx" timeout="2880" /></authentication>-->
    <membership defaultProvider="AwsSimpleDbMembership">
      <providers>
        <clear />
        <add passwordFormat="Encrypted" name="AwsSimpleDbMembership" type="RealEstateWebRole.SimpleDbMembershipProvider" />
      </providers>
    </membership>
    <siteMap defaultProvider="XmlSitemapProvider" enabled="true">
      <providers>
        <add name="XmlSitemapProvider" description="Default sitemap provider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" />
      <add name="RadUploadProgress" verb="*" preCondition="integratedMode" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <appSettings>
    <add key="EmailTemplate" value="http://epropertysearchza.cloudapp.net/EmailTemplates/SendAgentEmails.aspx" />
    <add key="SMTP" value="mail.epropertysearch.co.za" />
    <add key="OwnerEmail" value="abrahamkapambwe@epropertysearch.co.za" />
    <add key="CCOwnerEmail" value="lorenekm@epropertysearch.co.za" />
    <!--<add key="SMTPUSERNAME" value="AKIAJ7JTNMPB2ZEBIOKQ"/>
    <add key="SMTPPASSWORD" value="AksnI8MqMoUBYhrjBb68k4D1fkCzOQa+SNVH3NqN8HZt"/>-->
    <add key="SMTPUSERNAME" value="e8c616fa-84f7-4a68-a59f-f808a88d1624@apphb.com" />
    <add key="SMTPPASSWORD" value="jq2zjy6x" />
    <add key="AWSAccessKey" value="AKIAIWFK6YSYC34OEFJQ" />
    <add key="AWSSecretKey" value="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" />
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <RealEstateWebRole.Properties.Settings>
      <setting name="AWSMembershipDomain" serializeAs="String">
        <value>realestatewebrolezambia</value>
      </setting>
    </RealEstateWebRole.Properties.Settings>
  </applicationSettings>
</configuration>